<div class="container">
  <div class="card burger-menu">
    <div class="row">

      <div class="col s6">
    <h4>Burger Menu</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      <li class="black-text">
        {{burger_name}}
        <a class="waves-effect waves-light btn change-devoured yellow lighten-1 black-text" data-id="{{id}}"
          data-devoured="{{devoured}}">
          {{#if devoured}}undevour!{{else}}DEVOUR!{{/if}}</a>


        <a class="waves-effect waves-light btn delete yellow lighten-1 black-text" data-id="{{id}}">delete</a>
      </li>

      {{/unless}}
      {{/each}}
    </ul>
    </div>

<div class="col s6">
    <h4>Burgers Devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li class="black-text">
        {{burger_name}}

     
        <a class="waves-effect waves-light btn delete yellow lighten-1 black-text" data-id="{{id}}">delete</a>



      </li>
      {{/if}}
      {{/each}}
    </ul>
    </div>
  </div>
  </div>

  <div class="card add-burger">

    <form class="create-form">

      <div class="form-group">
        <label for="newburger">Add a Burger:</label>
        <input type="text" id="newburger" name="burger_name">
      </div>

      <button class="btn waves-effect waves-light yellow lighten-1 black-text" type="submit" name="action">Add Burger
        <i class="material-icons right">check</i>
      </button>

    </form>

  </div>
</div>